:root
{
    --blanc : #fff;
    --bleuNuit : #0D1B2A;
    --bleuIndigo : #1B263B;
    --bleuPétrole : #415A77;
    --bleuCiel : #778DA9;
    --bleuFoncé : #4169e1;
    --blancCassé : #E0E1DD;
}

body
{
	min-height: 100vh;
}

h1
{
    font-size: 3rem;
}

h2
{
    font-size: 3rem;
    color: var(--bleuFoncé);
}

p
{
    font-size: 1.8rem;
    color: var(--bleuFoncé);
}

.geopolitique-content
{
    padding: 200px 0;
}


