:root
{
    --blanc : #fff;
    --bleuNuit : #0D1B2A;
    --bleuIndigo : #1B263B;
    --bleuPétrole : #415A77;
    --bleuCiel : #778DA9;
    --bleuFoncé : #4169e1;
    --blancCassé : #E0E1DD;
}

body
{
	background-color: var(--bleuIndigo);
}


