
/************/
/*  Banner  */
/************/

.banner
{
    background-image: url('../../public/assets/img/banner/earth.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

.banner::before
{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner .container
{
    position: relative;
    z-index: 2;
}

.banner-line
{
    display: block;
    margin-bottom: .5em;
}

.bannerTitle, .banner-line
{
    color: #fff;
}
