:root
{
    --blanc : #fff;
    --bleuNuit : #0D1B2A;
    --bleuIndigo : #1B263B;
    --bleuPétrole : #415A77;
    --bleuCiel : #778DA9;
    --bleuFoncé : #4169e1;
    --blancCassé : #E0E1DD;
}

body
{
	min-height: 100vh;
}

h1
{
    font-size: 3rem;
}

h2
{
    font-size: 3rem;
    color: var(--bleuFoncé);
}

p.lead
{
    font-size: 2rem;
    color: var(--bleuFoncé);
}

/*******************/
/*  main-content  */
/******************/

.actualite-content
{
    padding: 200px 0;
}

.block-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-box
{
    padding: 300px 0;
}

.black-box
{
    background-color: var(--blancCassé);
    opacity: 70%;
    width: auto;
    padding: 100px 70px;
    background: rgba(224, 225, 221, 0.15); /* léger fond blanc translucide */
    border-radius: 50px;
    padding: 100px 70px;
    backdrop-filter: blur(10px); /* flou derrière */
    -webkit-backdrop-filter: blur(10px); /* support Safari */
    border: 1px solid rgba(224, 225, 221, 0.3); /* fine bordure lumineuse */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* ombre douce */
}

