:root
{
    --blanc : #fff;
    --bleuNuit : #0D1B2A;
    --bleuIndigo : #1B263B;
    --bleuPétrole : #415A77;
    --bleuCiel : #778DA9;
    --bleuFoncé : #4169e1;
    --blancCassé : #E0E1DD;
}

body
{
	min-height: 100vh;
    min-width: 520px;
}

h1
{
    font-size: clamp(2rem, 5vw, 3rem);
}

h2
{
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--bleuFoncé);
}

h6
{
    color: var(--blancCassé) !important;
}

p.lead
{
    font-size: clamp(1.2rem, 3vw, 2rem);
    color: var(--bleuFoncé);
}

/*******************/
/*  main-content  */
/******************/

.sante-content
{
    padding: 300px 0;
}

@media (max-width: 768px)
{
    .sante-content
    {
        padding: 80px 0;
    }
}

.block-card
{
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
