@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --bleuNuit : #0D1B2A;
    --bleuIndigo : #1B263B;
    --bleuPétrole : #415A77;
    --bleuCiel : #778DA9;
    --bleuFoncé : #4169e1;
    --blancCassé : #E0E1DD;
}

a
{
	cursor:pointer;
}

p
{
	padding-bottom:1rem;
}

h5.card-title
{
  text-transform:uppercase;
  font-weight:bold;
  color: var(--blancCassé);
  letter-spacing: .1rem;
  font-size: 2rem;
}

hr
{
    color: var(--blancCassé);
}

.box-shadow
{
	-webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
	box-shadow: 0 1px 1px rgba(72,78,85,.6);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.box-shadow:hover
{
	-webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
	box-shadow: 0 20px 40px rgba(72,78,85,.6);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}

.card
{
	border-radius: 25px;
    background-color: var(--bleuNuit);
}

.card img
{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card svg
{
	position:absolute;
	bottom: 0; /* en bas de la card */
    left: 0;
    width: 100%;
    height: auto;
  -webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.2));
}
.card:hover svg
{
	filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.4));
}

i.card-style
{
	position:absolute;
	top: 18rem;
	right: 2rem;
	color:white;
	font-size:3rem;
	background: rgb(238,174,202);
	background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(211,210,231,1) 19%, rgba(11,39,73,1) 100%);
	padding: 1rem;
	border-radius: 100%;
	transition: all .6s ease-in-out;
}

.card:hover i
{
	transform: rotate(-180deg);
}

i:hover
{
	box-shadow: rgba(2, 196, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 2, 204, 0.7) 0px 18px 36px -18px inset;
}

/* Forcer toutes les images à la même hauteur */
.fixed-height-img {
    height: 450px; /* ajuste selon ton design */
    object-fit: cover; /* garde les proportions et crop si nécessaire */
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Wrapper pour gérer la position du SVG */
.card-image-wrapper {
    position: relative;
}

/* SVG décoratif juste sous l'image */
.card-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}
